<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://localhost/EmployeeCRUD</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/EmployeeCRUD</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>false</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_TargetId>IISWebDeploy</_TargetId>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="EmployeeDetailsConnectionString" Order="1" Enabled="True">
          <Destination Path="Data Source=LAPTOP-9SRI3PHR;Initial Catalog=EmployeeDetails;User ID=sa;Password=sa_1234" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LAPTOP-9SRI3PHR;Initial Catalog=EmployeeDetails;User ID=sa;Password=sa_1234" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EmployeeDetailsConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=LAPTOP-9SRI3PHR;Initial Catalog=EmployeeDetails;User ID=sa;Password=sa_1234" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="EmployeeDetailsConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=LAPTOP-9SRI3PHR;Initial Catalog=EmployeeDetails;User ID=sa;Password=sa_1234</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>